

@{
    ViewBag.Title = "MVC Model Binding";
}

<h2>Yönetim İşlemleri</h2>


@Html.ActionLink("Kullanıcı Yönetimi", "KullaniciDetay")
<br />
@Html.ActionLink("Adres Yönetimi", "AdresDetay")
<br />
@Html.ActionLink("Kullanıcı Adres Data","KullaniciAdresDetay")

